data/temp/
data/
Vyvanuti/data/
Vyvanuti/.RData
Vyvanuti/data2.csv
Vyvanuti/data3.csv
Vyvanuti/nohup.out
convertool/bin/
build-convertool-Desktop_Qt_5_12_2_GCC_64bit-Debug/
build-convertool-Desktop_Qt_5_12_2_GCC_64bit-Release/
convertool/CMakeLists.txt.user
*.Rhistory
workspace.RData
rinput.csv
temporary*.csv
FebWorkshop/Ukol 1/*.csv
v3/infvacc/*.csv
